<!DOCTYPE html>
<html lang="pt-br">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>
<body>
    <div class="sidenav" id="sidebar">
        <h2>Listas</h2>
        <ul id="lists-sidebar">
            <!-- As listas do usuário serão carregadas aqui dinamicamente -->
        </ul>
    </div>

    <div class="titletop">
        <h1>Menu</h1>
        <button onclick="addNewList()">Adicionar nova lista</button>
        <span class="menu-icon" onclick="toggleSidebar()">☰</span> <!-- Ícone para abrir a barra lateral -->
    </div>
    <div class="main-content hidden" id="lists-container"></div>
    <div id="add-list-form" style="display: none;">
        <form onsubmit="addNewList(event)">
            <label for="new-list-name">Nome da Lista:</label>
            <input type="text" id="new-list-name" required>
            <label for="new-list-items">Itens da Lista (separados por linhas):</label>
            <textarea id="new-list-items" required></textarea>
            <button type="submit">Adicionar Lista</button>
            <button type="button" onclick="hideAddListForm()">Cancelar</button>
        </form>
    </div>

    <script src="../services/script.js"></script>
</body>
</html>
