body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    background-image: url('../assets/explosion.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
}
h1 {
    text-align: center;
    color: rgb(132, 13, 168);
}
.block h4 {
    color: #7e0463; 
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}
.block p {
    color: #a312f7; 
    font-size: 1rem; 
    margin-bottom: 15px; 
}
.titletop1 { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 45%;  
    text-align: center;
    margin: auto;
    background-color: rgba(250, 160, 235, 0.7); 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}
.titletop { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 25%;  
    text-align: center;
    margin: auto;
    background-color: rgba(250, 160, 235, 0.7); 
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}
.done {
    text-decoration: line-through;
    color: rgb(186, 54, 226);
}
.main-content {
    width: 30%; /* Largura do conteúdo */
    margin: 20px auto; /* Centraliza horizontalmente e adiciona espaço na parte superior */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Alinha o texto ao centro */
    border: 1px solid #ff94e8; /* Adiciona uma borda para visualização */
    background-color: rgba(35, 231, 238, 0.5); 
}
.hidden {
    display: none;
}
.menu-icon {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;  
    text-align: left;
    margin: auto;
}
.container-bot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    text-align: center;
    margin: auto;
    background-color: rgba(250, 160, 235, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}
#lists-container {
    top: 0; 
    left: 0; 
    width: 20%; 
    text-align: center;
    margin: auto;
    background-color: rgba(250, 160, 235, 0.7); 
    padding: 20px;
    border-radius: 10px;
}
ul {
    list-style-type: none; /* Remove o estilo de marcadores padrão */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}
.container {
    text-align: center;
    background-color: rgba(250, 160, 235, 0.7); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.block {
    text-align: center;
    width: 80%; 
    background-color: rgba(250, 160, 235, 0.7); 
    padding: 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

button {
    width: 25%;
    padding: 10px;
    background-color: #a5128c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #e76ebf;
}
.titletop button {
    width: 40%;
    padding: 10px;
    background-color: #a5128c;
    color:#ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Escondido inicialmente */
    background-color: #00e5ff8f;
    overflow-x: hidden;
    transition: 0.3s; /* Transição suave */
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #666;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav.show {
    left: 0; /* Move a barra lateral para a posição visível */
}


.sidenav h2 {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: #333; /* Cor do título do menu */
    border-bottom: 1px solid #ddd; /* Linha separadora */
}

.sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidenav ul li {
    padding: 10px;
}

.sidenav ul li a {
    text-decoration: none;
    color: rgba(112, 10, 95, 0.7); /* Cor dos itens do menu */
}

.sidenav ul li a:hover {
    color: #e388ff; /* Cor dos itens do menu ao passar o mouse */
    background-color: #7badf791; /* Cor de fundo ao passar o mouse */
}